# Aluno: Marcus Moresco Boeno

#### Data: 28-08-2020 (Sexta-Feira)
#### Curso: Formação em Python - Entra21

Este notebook contém os exercícios 1 a 9 da Aula 09 de python do Entra21 2020

Os exercícios estão divididos em 2 seções:

1. Laço de repetição for
 - Exercícios 1 a 5
2. Uso de for com listas
 - Exercícios 6 a 9

------

# Laço de repetição for

------

<b>Exercicio 01</b>

Faça um programa que conte de 0 a 100 e mostre todos os números.

In [66]:

# Apresentação
print("\n> Contagem de 0 a 100!\n")

# Apresentando resultados
for i in range(101):
    print(f"{i}, ", end="")

> Contagem de 0 a 100!

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

<b>Exercicio 02</b>

Faça um programa que mostre a tabuada de 1, 2, 3 e 4

In [67]:

# Apresentando tabuadas do 1, 2, 3 e 4
print("\n> Apresentado tabuadas do 1, 2, 3 e 4!")

# Apresentando os resultados
for j in range(1,5):
    print(f"\n{' Tabuada do ' + str(j) + ' ':-^20} \n")
    for i in range(11):
        print(f"{str(j) + ' x ' + str(i) + ' = ' + str(i*j):^20}")

> Apresentado tabuadas do 1, 2, 3 e 4!

--- Tabuada do 1 ---

     1 x 0 = 0
     1 x 1 = 1
     1 x 2 = 2
     1 x 3 = 3
     1 x 4 = 4
     1 x 5 = 5
     1 x 6 = 6
     1 x 7 = 7
     1 x 8 = 8
     1 x 9 = 9
    1 x 10 = 10

--- Tabuada do 2 ---

     2 x 0 = 0
     2 x 1 = 2
     2 x 2 = 4
     2 x 3 = 6
     2 x 4 = 8
     2 x 5 = 10
     2 x 6 = 12
     2 x 7 = 14
     2 x 8 = 16
     2 x 9 = 18
    2 x 10 = 20

--- Tabuada do 3 ---

     3 x 0 = 0
     3 x 1 = 3
     3 x 2 = 6
     3 x 3 = 9
     3 x 4 = 12
     3 x 5 = 15
     3 x 6 = 18
     3 x 7 = 21
     3 x 8 = 24
     3 x 9 = 27
    3 x 10 = 30

--- Tabuada do 4 ---

     4 x 0 = 0
     4 x 1 = 4
     4 x 2 = 8
     4 x 3 = 12
     4 x 4 = 16
     4 x 5 = 20
     4 x 6 = 24
     4 x 7 = 28
     4 x 8 = 32
     4 x 9 = 36
    4 x 10 = 40

<b>Exercicio 03</b>

Faça um programa que peça 10 notas do aluno. Faça a média e mostre as seguintes mensagens:

Para 7 a 10 - Aprovado<br>
Para 5.5 a 7 - Recuperação <br>
Para menor de 5.5 - Reprovado

In [27]:

# Apresentação
print("\n> Cálculo de média\n")

# Captando input do usuário
notas = []
for i in range(10):
    notas.append(float(input(f"Digite a nota [{i+1}/10]: ")))

# Apresentando resultados
media = sum(notas)/len(notas)
if media < 0:
    print(f"\n[ERRO] Uma ou mais notas são inválidas!\n")
elif media < 5.5:
    print(f"\nO aluno está Reprovado! [média = {media:.2f}]\n")
elif media < 7:
    print(f"\nO aluno está em RECUPERAÇÃO! [média = {media:.2f}]\n")
elif media < 10:
    print(f"\nO aluno está APROVADO! [média = {media:.2f}]\n")
else:
    print(f"\n[ERRO] Uma ou mais notas são inválidas!\n")

> Cálculo de média

Digite a nota [1/10]: 10
Digite a nota [2/10]: 9.8
Digite a nota [3/10]: 8.4
Digite a nota [4/10]: 9.0
Digite a nota [5/10]: 7.8
Digite a nota [6/10]: 8.2
Digite a nota [7/10]: 8.1
Digite a nota [8/10]: 7.6
Digite a nota [9/10]: 10
Digite a nota [10/10]: 9.2

O aluno está APROVADO! [média = 8.81]

<b>Exercicio 04</b>

Faça um programa de cadastro de pessoas que receba 10 nomes, idades e e-mails e salve cada um em uma lista.

Depois mostre as listas separadamente 
(print (lista) já é o suficiente)

In [70]:

# Apresentação
print("\n> Cadastro de usuários")

# Captando input do usuário
nomes = []
idades = []
emails = []
for i in range(10):
    print(f"\n -- Cadastro do usuário {i+1}")
    nomes.append(input("Nome: "))
    idades.append(int(input("Idade: ")))
    emails.append(input("Email: "))

# Apresentando resultados
print(f"\nUsuários cadastrados = {nomes}")
print(f"Idades dos usuários = {idades}")
print(f"Emails dos usuários = {emails}\n")

> Cadastro de usuários

 -- Cadastro do usuário 1
Nome: Marcus
Idade: 26
Email: marcus@gmail.com

 -- Cadastro do usuário 2
Nome: Cleber
Idade: 23
Email: cleber@gmail.com

 -- Cadastro do usuário 3
Nome: Joaquim
Idade: 23
Email: joaquim@yahoo.com.pt

 -- Cadastro do usuário 4
Nome: Louis
Idade: 34
Email: louis@lemonde.com.fr

 -- Cadastro do usuário 5
Nome: Thomas
Idade: 34
Email: thomas@amazon.com.uk

 -- Cadastro do usuário 6
Nome: Jeanne
Idade: 32
Email: jeanne@lemonde.com.fr

 -- Cadastro do usuário 7
Nome: Pedro
Idade: 23
Email: pedro@terra.com.br

 -- Cadastro do usuário 8
Nome: Jaqueline
Idade: 34
Email: jaque@gmail.com

 -- Cadastro do usuário 9
Nome: Marcelo
Idade: 21
Email: marcelo@outlook.com

 -- Cadastro do usuário 10
Nome: Luan
Idade: 34
Email: luan@uol.com.br

Usuários cadastrados = ['Marcus', 'Cleber', 'Joaquim', 'Louis', 'Thomas', 'Jeanne', 'Pedro', 'Jaqueline', 'Marcelo', 'Luan']
Idades dos usuários = [26, 23, 23, 34, 34, 32, 23, 34, 21, 34]
Emails dos usuários = ['marcus@gmail.com', 'cleber@gmail.com', 'joaquim@yahoo.com.pt', 'louis@lemonde.com.fr', 'thomas@amazon.com.uk', 'jeanne@lemonde.com.fr', 'pedro@terra.com.br', 'jaque@gmail.com', 'marcelo@outlook.com', 'luan@uol.com.br']

<b>Exercicio 05</b>

Faça um programa que peça ao usuário digitar a quantidade de vendas do dia. Cadastre cada venda separadaemnte e depois mostre a média e o valor total vendido no dia.

In [45]:

# Apresentação
print("\n> Cadastro diário de vendas")

# Captando número de vendas do dia
num_vendas = int(input("\nQuantidade de vendas do dia: "))

# Captando valor de cada venda
vendas = []
print("\n")
for i in range(num_vendas):
    vendas.append(float(input(f"Valor da venda {i+1} [R$]: ")))

# Apresentado resultados
print("\n --- Resumo das vendas diárias:")
print(f"Total de vendas: {num_vendas}")
print(f"Valor total de vendas: R$ {sum(vendas)}")
print(f"Valor médio de vendas: R$ {sum(vendas)/len(vendas):.2f}\n")

> Cadastro diário de vendas

Quantidade de vendas do dia: 4


Valor da venda 1 [R$]: 25
Valor da venda 2 [R$]: 40
Valor da venda 3 [R$]: 35
Valor da venda 4 [R$]: 18

 --- Resumo das vendas diárias:
Total de vendas: 4
Valor total de vendas: R$ 118.0
Valor médio de vendas: R$ 29.50

----

# Uso de for com listas

----

<b>Exercicio 06</b>

Faça um programa que peça ao usuário que digite o nome de 10 pessoas. Depois mostre cada nome em linhas separadas.

In [48]:

# Apresentação
print("\n> Apresentando 10 nomes")

# Captando input do usuário
nomes = []
print("\n --- Cadastro de nomes:")
for i in range(10):
    nomes.append(input(f"Digite um nome [{i+1}/10]: "))

# Apresentando resultados
print("\n --- Nomes cadastrados:")
for nome in nomes:
    print(nome)

> Apresentando 10 nomes

 --- Cadastro de nomes:
Digite um nome [1/10]: Marcus
Digite um nome [2/10]: João
Digite um nome [3/10]: Miguel
Digite um nome [4/10]: Arthur
Digite um nome [5/10]: Pedro
Digite um nome [6/10]: Joaquim
Digite um nome [7/10]: Samuel
Digite um nome [8/10]: Henrique
Digite um nome [9/10]: Davi
Digite um nome [10/10]: Cláudio

 --- Nomes cadastrados:
Marcus
João
Miguel
Arthur
Pedro
Joaquim
Samuel
Henrique
Davi
Cláudio

<b>Exercicio 07</b>

Faça um programa que receba 10 idades e mostre a seguinte mensagem:

Para maiores de 18 anos: Ingreços da Rave liberado!<br>
De 16 a 18 anos: Ingreços de cinema liberado <br>
De 13 a 16 anos: Ingreços para fliperama liberado<br>
Menores de 13 anos: Psicina de bolinhas liberado

In [63]:

# Apresentação
print("\n> Ingresso por faixa etária!")

# Captando input do usuário
idades = []
print("\n --- Cadastro de idades:")
for i in range(10):
    idades.append(int(input(f"Digite uma idade [{i+1}/10]: ")))

# Apresentado resultados
print("\n")
for idade in idades:
    if idade < 13:
        print(f"Idade: {idade} anos -- Piscina de bolinhas liberada!")
    elif idade < 16:
        print(f"Idade: {idade} anos -- Ingresso para o FLIPERAMA liberado!")
    elif idade < 18:
        print(f"Idade: {idade} anos -- Ingresso para o CINEMA liberado!")
    else:
        print(f"Idade: {idade} anos -- Ingresso para a RAVE liberado!")
print("\n")

> Ingresso por faixa etária!

 --- Cadastro de idades:
Digite uma idade [1/10]: 10
Digite uma idade [2/10]: 20
Digite uma idade [3/10]: 4
Digite uma idade [4/10]: 25
Digite uma idade [5/10]: 70
Digite uma idade [6/10]: 13
Digite uma idade [7/10]: 24
Digite uma idade [8/10]: 14
Digite uma idade [9/10]: 15
Digite uma idade [10/10]: 28


Idade: 10 anos -- Piscina de bolinhas liberada!
Idade: 20 anos -- Ingresso para a RAVE liberado!
Idade: 4 anos -- Piscina de bolinhas liberada!
Idade: 25 anos -- Ingresso para a RAVE liberado!
Idade: 70 anos -- Ingresso para a RAVE liberado!
Idade: 13 anos -- Ingresso para o FLIPERAMA liberado!
Idade: 24 anos -- Ingresso para a RAVE liberado!
Idade: 14 anos -- Ingresso para o FLIPERAMA liberado!
Idade: 15 anos -- Ingresso para o FLIPERAMA liberado!
Idade: 28 anos -- Ingresso para a RAVE liberado!

<b>Exercicio 08</b>

Faça um programa que pegue a lista e calcule a seguinte formula: 32x+125

Com o resultado desta formula mostre sómente os resultados maiores que 550. Para os resultados menores que 550 mostre "número invalido!"

lista = [1, 6, 9, 1, 5, 4, 8, 9, 15, 23, 14, 54, 82, 91, 45]

In [56]:

# Apresentação
print("\n> Cálculo usando fórmula (y = 32x + 125)!\n")

# Declarando lista base
lista = [1, 6, 9, 1, 5, 4, 8, 9, 15, 23, 14, 54, 82, 91, 45]

# Apresentando resultados
for x in lista:
    y = 32*x + 125
    if y > 550:
        print(f"32*{x} + 125 = {y}")
    else:
        print("Número inválido!")

> Cálculo usando fórmula (y = 32x + 125)!

Número inválido!
Número inválido!
Número inválido!
Número inválido!
Número inválido!
Número inválido!
Número inválido!
Número inválido!
32*15 + 125 = 605
32*23 + 125 = 861
32*14 + 125 = 573
32*54 + 125 = 1853
32*82 + 125 = 2749
32*91 + 125 = 3037
32*45 + 125 = 1565

<b>Exercicio 09</b>

Faça um programa que pegue uma lista de valores e separe em 2 listas. Uma com valores menores que 500.00 e outra com maiores ou igual.

Depois motre o maior e o menor valor da cada lista.

vandas = [100.00, 500.00, 258.50, 710.00, 50.50,750.00, 10.00, 1050.00, 859.75, 199.05, 500.50,750.00, 568.60, 950.00, 950.00, 89.90, 2500.00, 1750.00,500.00]

In [61]:

# Apresentação
print("\n> Dividindo lista de vendas!")

# Declarando lista base
vendas = [
        100.00, 500.00, 258.50, 710.00, 50.50, 750.00, 10.00, 1050.00, 
        859.75, 199.05, 500.50, 750.00, 568.60, 950.00, 950.00, 89.90, 
        2500.00, 1750.00, 500.00
        ]

# Criando listas vazias para armazenar resultados
maiores500 = []
menores500 = []

# Dividindo lista
for venda in vendas:
    if venda >= 500:
        maiores500.append(venda)
    else:
        menores500.append(venda)

# Apresentado resultados (Menores do que 500)
print("\n --- Valores menores do que 500:")
print(f"Quantidade: {len(menores500)}")
print(f"Menor valor: {min(menores500):.2f}")
print(f"Maior valor: {max(menores500):.2f}")

# Apresentado resultados (Maiores do que 500)
print("\n --- Valores maiores ou iguais a 500:")
print(f"Quantidade: {len(maiores500)}")
print(f"Menor valor: {min(maiores500):.2f}")
print(f"Maior valor: {max(maiores500):.2f}\n")

> Dividindo lista de vendas!

 --- Valores menores do que 500:
Quantidade: 6
Menor valor: 10.00
Maior valor: 258.50

 --- Valores maiores ou iguais a 500:
Quantidade: 13
Menor valor: 500.00
Maior valor: 2500.00